@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

@layer components {
  .input-box {
    @apply w-full bg-slate-100 dark:bg-gray-600 dark:text-slate-400 dark:placeholder:text-slate-400 rounded-full px-4 py-1 mb-0.5 focus:outline-none
  }

  .dashboard-card {
    @apply relative w-full h-full flex items-center justify-center bg-slate-200 dark:bg-gray-700 rounded-lg py-8
  }
}